<header >

    <div class="nav-bar">
        <ul class="nav-bar-items-list">

            <li class="nav-bar-item">

                <a class="header-link" href="/clients">Clientes</a>

            </li>

            <li class="nav-bar-item">

                <a class="header-link" href="/properties">Inmuebles</a>

            </li>

            <li class="nav-bar-item">

                <a class="header-link" href="/matches">Matches</a>

            </li>
        </ul>
    </div>

</header>