

<a href="./matches/" class="clean-link">
    <div id="match-<%=key%>" class="pop-up-container">

        <h2 class="new-match-title">Nuevo match!</h2>
        <p class="new-match-p"><%=match.property.direction%> & <%= match.client.name%></p>
    </div>
</a>
