<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/clients.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/popups.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header.ejs')-%>
    <div class="popups-container">
        <ul class="popups-ul">
            <% for(let i = 0; i < matches.length; i++){ %>

                <li class="popup-li">
                    <%- include('./partials/popup.ejs',{match:matches[i],key:i}) -%>
                </li>

            <% } %>
        </ul>


    </div>
    <div class="clients-container">
        <h1 class="clients-h1">Clientes</h1>

        <form id = "add-client-form" class="add-client-form" action="/clients/create" method="POST" >
            <h2 class="add-client-h2">Agregar cliente</h2>
            <input class="add-client-input" type="text" name="name" placeholder="Nombre">
            <input class="add-client-input" type="text" name="email" placeholder="Email">
            <input class="add-client-input" type="text" name="phone" placeholder="Teléfono">
            <input class="add-client-input" type="text" name="direction" placeholder="Dirección">
            <input class="add-client-input" type="text" name="city" placeholder="Ciudad">
            
            <select id="property-type" class="property-type-demand" name="propertyType">
                <option value="casa">Casa</option>
                <option value="departamento">Departamento</option>
                <option value="terreno">Terreno</option>
                <option value="local">Local</option>
                <option value="galpon">Galpón</option>
                <option value="campo">Campo</option>
                <option value="quinta">Quinta</option>
                <option value="oficina">Oficina</option>
                <option value="cochera">Cochera</option>
                <option value="deposito">Depósito</option>
                <option value="hotel">Hotel</option>
                <option value="edificio">Edificio</option>
                <option value="industrial">Industrial</option>
                <option value="comercial">Comercial</option>
                <option value="rural">Rural</option>
                <option value="lote">Lote</option>
                <option value="isla">Isla</option>
                <option value="fraccion">Fracción</option>
                <option value="ph">PH</option>
                <option value="duplex">Duplex</option>
                <option value="triplex">Triplex</option>
                <option value="chalet">Chalet</option>
                <option value="cabaña">Cabaña</option>
                <option value="country">Country</option>
                <option value="quinta">Quinta</option>
                <option value="chacra">Chacra</option>
                <option value="bodega">Bodega</option>
                <option value="viñedo">Viñedo</option>
                <option value="estancia">Estancia</option>
                <option value="hostel">Hostel</option>
                <option value="camping">Camping</option>
                <option value="fondo de comercio">Fondo de comercio</option>
                <option value="emprendimiento">Emprendimiento</option>
                <option value="otros">Otros</option>
            </select>

            <select id="operation-type" class="operation-type-demand" name="operationType">
                <option value="venta">Venta</option>
                <option value="alquiler">Alquiler</option>
                <option value="alquiler temporal">Alquiler temporal</option>
                <option value="permuta">Permuta</option>
                <option value="emprendimiento">Emprendimiento</option>
                <option value="otros">Otros</option>
            </select>

            <div id="demands-inputs">
            </div>
            <div class="submit-button-container">
                <button type="submit">Agregar</button>
            </div>
        </form>
        <ul class="clients-ul">
            <% clients.forEach((client,i) => { %>
                <%- include('./partials/client.ejs', {client: client, key:i})-%>
            <% }) %>
        </ul>
    </div>
    <script src="/js/clients.js"></script>
    <script src="/js/editClient.js" async></script>
</body>
</html>